[submodule "extern/superbasic"]
	path = extern/superbasic
	url = https://github.com/FoenixRetro/f256-superbasic
[submodule "extern/kernel_dos"]
	path = extern/kernel_dos
	url = https://github.com/FoenixRetro/F256_Jr_Kernel_DOS
[submodule "extern/hello"]
	path = extern/hello
	url = https://github.com/FoenixRetro/f256-dos-hello.git
[submodule "extern/Foenix-F256JR-bootscreens"]
	path = extern/Foenix-F256JR-bootscreens
	url = https://github.com/FoenixRetro/f256-bootscreens.git
[submodule "extern/docs"]
	path = extern/docs
	url = https://github.com/FoenixRetro/f256-foenix-help.git
[submodule "extern/dos"]
	path = extern/dos
	url = https://github.com/FoenixRetro/f256-dos.git
[submodule "extern/microkernel"]
	path = extern/microkernel
	url = https://github.com/FoenixRetro/f256-microkernel.git
[submodule "extern/pexec"]
	path = extern/pexec
	url = https://github.com/FoenixRetro/f256-pexec.git
